body{
  margin: 0;
}

main{
  width: 100vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

button{
  cursor: pointer;

}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-left: 10vw;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #1D1D1D;
  padding-bottom: 10px;

}

a{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #0F4C81;
}

h3#h3-overview{
  width: 130px;
  border-bottom: 4px solid #0F4C81;
}

h3#h3-services{
  width: 75px;
  border-bottom: 4px solid #0F4C81;
  margin-left: 0;
}





/* HEADER */

.Header {
  width: 100vw;
  height: 100px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;


}

.Header .Header-wrapper{
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 100px;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}




.Header .Header-wrapper .header-button-back-red{
  width: 120px;
  height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: none;
  background-color: #0F4C81;
  font-size: 18px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;



}

.Header .Header-wrapper .header-button{
  width: 120px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  align-self: flex-start;


}

.Header .Header-wrapper .header-button-red{
  width: 120px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;

}

.Header .Header-wrapper .header-button:hover{
  color: #0F4C81;
  height: 100px;
}

.Header .Header-wrapper .header-button-red:hover{
  color: #0F4C81;
  height: 100px;
}





/* homepage project screen */

.img-background{
  width: 80vw;
  height: 500px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 140px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-background img{
  width: 100%;
  height: auto;
}

.img-text-wrapper{
  width: 80vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-text-wrapper .img-text-h1{
  font-weight: 900;

}

.img-text-wrapper .img-text-h2{
  font-weight: 700;
}

.img-text-wrapper .img-text-h3{
  font-weight: 400;

}

.intro-text-wrapper{
  width: 80vw;
  font-family: 'Montserrat', sans-serif;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 24px;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-text-wrapper .intro{
  margin-right: 140px;
}





#overview{
  font-family: 'Montserrat', sans-serif;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.7px;
  width: 800px;

}

#services{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.7px;
  width: 200px;

}

.overview-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
}

.image-mockup{
  width: 60%;
  height: auto;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 100px;
  margin-bottom: 20px;
  z-index: 0;
}

.image-mockup2{
  width: 15%;
  height: auto;
  margin-left: 847px;
  right: 0;
  margin-top: -350px;
  margin-bottom: 20px;
  z-index: 1;
}

.image-mockup3{
  width: 15%;
  height: auto;
  margin-left: 50px;
  right: 0;
  margin-top: -350px;
  margin-bottom: 20px;
  z-index: 1;
}

.continue-read{
  width: 80vw;
  height: 50px;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 16px;
  text-align: center;

}

/* FOOTER */

.Footer {
  width: 100vw;
  height: 115px;
  padding-bottom: 40px;
  background-color: #0F4C81;
  position: static;
  z-index: 1;


}

.Footer .Footer-wrapper{
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 30px;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Footer .Footer-wrapper .text-me{
  text-align: left;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  margin-top: 35px;
  font-size: 18px;
}

.Footer .Footer-wrapper .text-me a{
  color: #FFF;
}


.Footer .Footer-wrapper .footer-button-back-red{
  width: 120px;
  height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;


}

.Footer .Footer-wrapper .footer-button{
  width: 120px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start;


}

.Footer .Footer-wrapper .wrapper1{
  margin-right: 0px;
}

.Footer .Footer-wrapper .footer-button-red{
  width: 120px;
  height: 30px;
  justify-content: flex-start;
  text-align: center;
  border: none;
  background-color: #0F4C81;
  font-size: 18px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;

}

/* ::::::::::::::::(END) FOOTER:::::::::::::::::::::::::
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/::::::::::::::::::RESPONSIVE TABLETTE:::::::::::::::::::
*/


@media all and (max-width:768px) {

  /* homepage project screen */

  .img-background{
    width: 80vw;
    height: 500px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-background img{
    width: 100%;
    height: auto;
  }

  .img-text-wrapper{
    width: 80vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .img-text-wrapper .img-text-h1{
    font-weight: 900;

  }

  .img-text-wrapper .img-text-h2{
    font-weight: 700;
  }

  .img-text-wrapper .img-text-h3{
    font-weight: 400;

  }

  .intro-text-wrapper{
    width: 80vw;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 24px;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .intro-text-wrapper .intro{
    margin-right: 0px;
  }





  #overview{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.7px;
    width: 80vw;

  }

  #services{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10vw;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.7px;
    width: 80vw;

  }

  h3#h3-services{
    width: 75px;
    border-bottom: 4px solid #0F4C81;
    margin-left: 10vw;
  }

  .overview-wrapper{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10vw;
  }

  .image-mockup{
    width: 80%;
    height: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 60px;
    margin-bottom: 60px;
    z-index: 0;
  }

  .image-mockup2{
    width: 25vw;
    height: auto;
    margin-left: 15vw;
    right: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    z-index: 1;
  }

  .image-mockup3{
    width: 25vw;
    height: auto;
    margin-left: 20vw;
    right: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    z-index: 1;
  }

  .continue-read{
    width: 80vw;
    height: 50px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 16px;
    text-align: center;

  }

  /* FOOTER */

    .Footer {
      width: 100vw;
      height: 115px;
      padding-bottom: 40px;
      background-color: #0F4C81;
      position: static;
      z-index: 1;


    }

    .Footer .Footer-wrapper{
      margin-right: 6vw;
      margin-left: 6vw;
      margin-bottom: 0px;
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .Footer .Footer-wrapper .text-me{
      text-align: left;
      color: #FFF;
      font-family: 'Montserrat', sans-serif;
      line-height: 30px;
      margin-top: 35px;
      font-size: 18px;
    }

    .Footer .Footer-wrapper .text-me a{
      color: #FFF;
    }


    .Footer .Footer-wrapper .footer-button-back-red{
      width: 120px;
      height: 100px;
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;
      border: none;
      background-color: #FFF;
      font-size: 18px;
      color: #1D1D1D;
      font-family: 'Montserrat', sans-serif;
      opacity: 1;


    }

    .Footer .Footer-wrapper .footer-button{
      width: 120px;
      height: 30px;
      text-align: center;
      border: none;
      background-color: #FFF;
      font-size: 18px;
      color: #1D1D1D;
      font-family: 'Montserrat', sans-serif;
      align-self: center;
      opacity: 0;


    }

    .Footer .Footer-wrapper .wrapper1{
      margin-right: 0px;
    }

    .Footer .Footer-wrapper .footer-button-red{
      width: 120px;
      height: 30px;
      justify-content: flex-start;
      text-align: center;
      border: none;
      background-color: #0F4C81;
      font-size: 18px;
      color: #FFF;
      font-family: 'Montserrat', sans-serif;
      opacity: 0;

    }

    /* (END) FOOTER */

}

/*
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/RESPONSIVE MOBILE
*/

@media all and (max-width:375px) {

  /* HEADER */


        .Header {
          width: 100vw;
          height: 60px;
          background-color: #FFF;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 2;


        }

        .Header .Header-wrapper{
          position: fixed;
          z-index: 2;
          width: 100vw;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin: 0px;
          left: 0;
        }

        .Header .Header-wrapper .header-right-wrapper{
          width: 75vw;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-right: 0px;
        }

        .Header .Header-wrapper .header-button-back-red{
          width: 25vw;
          height: 60px;
          padding: 0px;
          text-align: center;
          border: none;
          background-color: #0F4C81;
          font-size: 13px;
          color: #FFF;
          font-family: 'Montserrat', sans-serif;

        }

        .Header .Header-wrapper .header-button{
          width: 25vw;
          height: 60px;
          margin-right: 0vw;
          text-align: center;
          border: none;
          background-color: #FFF;
          font-size: 13px;
          color: #1D1D1D;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;



        }


        .Header .Header-wrapper .header-button-red{
          width: 25vw;
          height: 60px;
          text-align: center;
          border: none;
          background-color: #FFF;
          font-size: 13px;
          color: #1D1D1D;
          font-family: 'Montserrat', sans-serif;

        }


  /* homepage project screen */

  .img-background{
    width: 90vw;
    height: 500px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-background img{
    width: auto;
    height: 100%;
  }

  .img-text-wrapper{
    width: 90vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 0px;
  }

  .img-text-wrapper .img-text-h1{
    font-weight: 900;

  }

  .img-text-wrapper .img-text-h2{
    font-weight: 700;
  }

  .img-text-wrapper .img-text-h3{
    font-weight: 400;

  }

  .intro-text-wrapper{
    width: 90vw;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 32px;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .intro-text-wrapper .intro{
    margin-right: 0px;
  }





  #overview{
    font-family: 'Montserrat', sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.7px;
    width: 90vw;

  }

  #services{
    font-family: 'Montserrat', sans-serif;
    margin-left: 5vw;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.7px;
    width: 90vw;

  }

  h3#h3-overview{
    width: 130px;
    border-bottom: 4px solid #0F4C81;
    margin-left: 5vw;
  }

  h3#h3-services{
    width: 75px;
    border-bottom: 4px solid #0F4C81;
    margin-left: 5vw;
  }

  .overview-wrapper{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10vw;
  }

  .image-mockup{
    width: 90%;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 60px;
    margin-bottom: 60px;
    z-index: 0;
  }

  .image-mockup2{
    width: 50%;
    height: auto;
    margin-left: 25vw;
    right: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    z-index: 1;
  }

  .image-mockup3{
    width: 50%;
    height: auto;
    margin-left: 25vw;
    right: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    z-index: 1;
  }

  .continue-read{
    width: 80vw;
    height: 50px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 16px;
    text-align: center;

  }

  /* FOOTER */
          .Footer {
            width: 100vw;
            height: 115px;
            padding-bottom: 40px;
            background-color: #0F4C81;
            position: static;
            z-index: 1;


          }

          .Footer .Footer-wrapper{
            margin-right: 5vw;
            margin-left: 5vw;
            margin-bottom: 0px;
            height: 100%;
            text-align: right;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            top: 0;
          }

          .Footer .Footer-wrapper .text-me{
            text-align: left;
            color: #FFF;
            font-family: 'Montserrat', sans-serif;
            line-height: 25px;
            margin-top: 0px;
            font-size: 13px;
          }

          .Footer .Footer-wrapper .text-me a{
            color: #FFF;
            font-size: 13px;
          }


          .Footer .Footer-wrapper .footer-button-back-red{
            width: 120px;
            height: 100px;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            border: none;
            background-color: #FFF;
            font-size: 13px;
            color: #1D1D1D;
            font-family: 'Montserrat', sans-serif;


          }

          .Footer .Footer-wrapper .footer-button{
            width: 120px;
            height: 30px;
            text-align: center;
            border: none;
            background-color: #FFF;
            font-size: 13px;
            color: #1D1D1D;
            font-family: 'Montserrat', sans-serif;
            align-self: flex-start;
            opacity: 0;


          }

          .Footer .Footer-wrapper .wrapper1{
            margin-right: 0px;
            margin-top: 40px;
            display: flex;
            flex-direction: column-reverse;

          }

          .Footer .Footer-wrapper .footer-button-red{
            width: 120px;
            height: 30px;
            justify-content: flex-start;
            text-align: center;
            border: none;
            background-color: #0F4C81;
            opacity: 0;
            font-size: 13px;
            color: #FFF;
            font-family: 'Montserrat', sans-serif;

          }





}
