body{
  margin: 0;
}

main{
  width: 100vw;
}

button{
  cursor: pointer;

}


h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-left: 10vw;
  margin-top: 10vw;
  margin-bottom: 50px;
  color: #1D1D1D;
  padding-bottom: 10px;

}

h3#h3-project{
  width: 80px;
  border-bottom: 4px solid #0F4C81;
}

/* HEADER */

.Header {
  width: 100vw;
  height: 100px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;


}

.Header .Header-wrapper{
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 30px;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}




.Header .Header-wrapper .header-button-back-red{
  width: 120px;
  height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: none;
  background-color: #0F4C81;
  font-size: 18px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;



}

.Header .Header-wrapper .header-button{
  width: 120px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start;
  font-weight: bold;


}

.Header .Header-wrapper .header-button:hover{
  color: #0F4C81;
  height: 100px;
}

.Header .Header-wrapper .header-button-red:hover{
  color: #0F4C81;
  height: 100px;
}

.Header .Header-wrapper .header-button-red{
  width: 120px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;

}




/* Card Latest Work  */
#section{
  width: 80vw;
  height: 100%;
  margin-top: 140px;
  margin-bottom: 100px;
}
.container {
  position: relative;
  width: 80vw;
  height: 500px;
  overflow: hidden;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: #000;
}

.container:hover .overlay {
  opacity: 0.7;
}

.text {
  color: #FFF;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 900;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  letter-spacing: 0.8px;
}

.text .intro{
  line-height: 26px;
}

.text a{
  color: #0F4C81;
}

/* FOOTER */

.Footer {
  width: 100vw;
  height: 115px;
  padding-bottom: 40px;
  background-color: #0F4C81;
  position: static;
  z-index: 1;
  margin-top: 70px;


}

.Footer .Footer-wrapper{
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 30px;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Footer .Footer-wrapper .text-me{
  text-align: left;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  margin-top: 35px;
  font-size: 18px;
}

.Footer .Footer-wrapper .text-me a{
  color: #FFF;
}


.Footer .Footer-wrapper .footer-button-back-red{
  width: 120px;
  height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;


}

.Footer .Footer-wrapper .footer-button{
  width: 120px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start;


}

.Footer .Footer-wrapper .wrapper1{
  margin-right: 0px;
}

.Footer .Footer-wrapper .footer-button-red{
  width: 120px;
  height: 30px;
  justify-content: flex-start;
  text-align: center;
  border: none;
  background-color: #0F4C81;
  font-size: 18px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;

}

/* (END) FOOTER */

































@media all and (max-width:768px) {

    /* Card Latest Work  */

    .container {
      position: relative;
      width: 80vw;
      height: 360px;
      overflow: hidden;
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 0px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .image {
      width: 100%;
      height: auto;
    }

    .container .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto;
      width: 100%;
      opacity: 0.5;
      transition: .7s ease;
      background-color: #000;
    }

    .container:hover .overlay {
      opacity: 0.5;
    }

    .text {
      color: #FFF;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 1;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 900;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      letter-spacing: 0.8px;
    }

    .text .intro{
      line-height: 26px;
    }

    .text a{
      color: #0F4C81;
    }


    /* (END) Card Studie */
}
































@media all and (max-width:375px) {



  /* HEADER */


      .Header {
        width: 100vw;
        height: 60px;
        background-color: #FFF;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;


      }

      .Header .Header-wrapper{
        position: fixed;
        z-index: 2;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0px;
        left: 0;
      }

      .Header .Header-wrapper .header-right-wrapper{
        width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-right: 0px;
      }

      .Header .Header-wrapper .header-button-back-red{
        width: 25vw;
        height: 60px;
        padding: 0px;
        text-align: center;
        border: none;
        background-color: #0F4C81;
        font-size: 13px;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;

      }

      .Header .Header-wrapper .header-button{
        width: 25vw;
        height: 60px;
        margin-right: 0vw;
        text-align: center;
        border: none;
        background-color: #FFF;
        font-size: 13px;
        color: #1D1D1D;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;



      }


      .Header .Header-wrapper .header-button-red{
        width: 25vw;
        height: 60px;
        text-align: center;
        border: none;
        background-color: #FFF;
        font-size: 13px;
        color: #1D1D1D;
        font-family: 'Montserrat', sans-serif;

      }


      /* Card Latest Work  */

            .container {
              position: relative;
              width: 90vw;
              height: 500px;
              overflow: hidden;
              margin-left: 5vw;
              margin-right: 5vw;
              margin-top: 0px;
              overflow: hidden;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            .image {
              width: auto;
              height: 100%;
            }

            .overlay {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 100%;
              width: 100%;
              opacity: 0.7;
              background-color: #000;
            }


            .text {
              color: #FFF;
              font-size: 20px;
              position: absolute;
              top: 50%;
              left: 40%;
              opacity: 1;
              font-family: 'Montserrat', sans-serif;
              font-size: 18px;
              font-weight: 900;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              letter-spacing: 0.8px;
            }

            .text .intro{
              line-height: 26px;
            }

            .text a{
              color: #0F4C81;
            }


            /* (END) Card Studie */


}
