
body{
  margin: 0;

}

main{
  width: 100vw;

}

button{
  cursor: pointer;

}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  width: 60vw;
  text-align: center;
  margin-top: 30px;
  margin-left: 20%;
}

h1 span{
  font-weight: 400;
  font-size: 20px;

}

h2{
  font-family: 'Montserrat', sans-serif;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 30px;

}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-left: 10vw;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #1D1D1D;
  padding-bottom: 10px;

}

h3#h3-competences{
  width: 110px;
  border-bottom: 4px solid #0F4C81;
}

h3#h3-softwares{
  width: 90px;
  border-bottom: 4px solid #0F4C81;
}

h3#h3-softskills{
  width: 95px;
  border-bottom: 4px solid #0F4C81;
}

h3#h3-introduction{
  width: 115px;
  border-bottom: 4px solid #0F4C81;
}

h3#h3-studies{
  width: 90px;
  border-bottom: 4px solid #0F4C81;
}


h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-align: left;
  line-height: 50px;

}




.body-text{
  font-family: 'Montserrat', sans-serif;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.7px;
  width: 60vw;
}


/* HEADER */

.Header {
  width: 100vw;
  height: 100px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;


}

.Header .Header-wrapper{
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 30px;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}




.Header .Header-wrapper .header-button-back-red{
  width: 120px;
  height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: none;
  background-color: #0F4C81;
  font-size: 18px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;



}

.Header .Header-wrapper .header-button{
  width: 120px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  align-self: flex-start;


}

.Header .Header-wrapper .header-button-red{
  width: 120px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;

}

.Header .Header-wrapper .header-button:hover{
  color: #0F4C81;
  height: 100px;
}

.Header .Header-wrapper .header-button-red:hover{
  color: #0F4C81;
  height: 100px;
}





/* ACCROCHE I am a passionate designer + illustration */


.about-screen-wrapper h4 {
  font-family: 'Montserrat'sans-serif;
  color: #1D1D1D;
  width: 400px;
  margin-right: 10vw;
  font-size: 30px;
  line-height: 70px;
  letter-spacing: 1pt;
  margin-bottom: 15px;

}


#table {
	display: table;
	width: 100%;
	height: 100%;
}

#centeralign {
	display: table-cell;
	vertical-align: middle;
}


.typewrite{
  color: #1D1D1D;
  text-decoration: none;
}

.H1-Iam span{
  color: #C44E54;

}

.about-screen-wrapper {
  width: 100vw;
  height: 28vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}


.about-screen-wrapper .illustration-about .illustration-about-picture{
  width: 450px;
  margin-left: 100px;
  margin-right: 70px;


}

/* (END) ACCROCHE I am a passionate designer + illustration */



/* scroll down mouse footer */





#mouse-scroll {
  position: relative;
  top: 60%;
  margin: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);

}
#mouse-scroll span{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #1D1D1D;
  border-bottom: 2px solid #1D1D1D;
  margin: 0 0.2px 0 0;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #1D1D1D;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite:
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s;
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #1D1D1D;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* (END) scroll down mouse footer */

/* Softwares */

.software-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 100px;


}

.software-wrapper .image-software{
  weight: 100px;
  height: 100px;

}

/* (END) Softwares */

/* Soft skills */

.text-left-wrapper{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 10vw;
  margin-right: 7vw;
  margin-bottom: 0px;
  font-family: 'Montserrat'sans-serif;
  font-size: 30px;
  font-weight: 700;

}

.text-left-wrapper .P-align-self{
  align-self: flex-start;
  font-family: 'Montserrat', sans-serif;
}


.text-right-wrapper{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 7vw;
  margin-right: 10vw;
  margin-bottom: 0px;
  font-family: 'Montserrat'sans-serif;
  font-size: 30px;
  font-weight: 700;

}

.text-right-wrapper .P2-align-self{
  font-family: 'Montserrat', sans-serif;
  align-self: flex-end;
}

.softskills-wrapper .image-softskills img{
  width: 400px;
}

.softskills-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.softskills-wrapper .text-left-wrapper .text-softskill{
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

.softskills-wrapper .text-right-wrapper .text-softskill{
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* (END) Soft skills */

/* Card-competences */

.CARD-WRAPPER{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 50px;

}

.CARD-WRAPPER .Smallcard-competence{
  width: 30%;
  height: 200px;
  /*background-image:
    url("02_Images copie/patern2.jpeg");*/
  background-color: #F9F9F9;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgba(29, 29, 29, 0.303049);


}

.CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper .title-smallcard{
  font-family: 'Montserrat'sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #1D1D1D;

}

.CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper .body-smallcard{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 30px;
  color: #1D1D1D;


}

.CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper img{
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;

}


/* Card Studies  */

.CARD-STUDIES{
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: #FFF;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.CARD-STUDIES .card-img-background{
  width: 200px;
  height: 200px;
  background-color: #FFF;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.CARD-STUDIES .card-wrapper .card-img-background .image-background img{
  width: 200px;
  padding-left: 25px;
  padding-right: 25px;

}

.CARD-STUDIES .card-wrapper{
  width: 500px;
  height: 200px;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: 0px;
  margin-bottom: 35px;
  box-shadow: 0px 2px 10px rgba(29, 29, 29, 0.303049);

}

.CARD-STUDIES .card-wrapper .image-text-wrapper{
  width: 250px;

}

/*.CARD-STUDIES .card-wrapper .number-card{
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 900;
  color: #1D1D1D;
  opacity: 0.8;
  margin-top: 0px;
  width: 250px;

}*/

.CARD-STUDIES .card-wrapper .title-card {
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 900;
  color: #1D1D1D;
  opacity: 1;
  width: 250px;
  line-height: 30px;

}

.CARD-STUDIES .card-wrapper .body-card{
  width: 700px;
  text-align: left;
  width: 250px;
  margin-left: -30px;
}

.CARD-STUDIES .card-wrapper .body-text-card{
  font-family: 'Montserrat', sans-serif;
  margin-right: 100px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  width: 250px;
}

/* (END) Card Studie */

/* FOOTER */

.Footer {
  width: 100vw;
  height: 115px;
  padding-bottom: 40px;
  background-color: #0F4C81;
  position: static;
  z-index: 1;


}

.Footer .Footer-wrapper{
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 30px;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Footer .Footer-wrapper .text-me{
  text-align: left;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  margin-top: 35px;
  font-size: 18px;
}

.Footer .Footer-wrapper .text-me a{
  color: #FFF;
}


.Footer .Footer-wrapper .footer-button-back-red{
  width: 120px;
  height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;


}

.Footer .Footer-wrapper .footer-button{
  width: 120px;
  height: 30px;
  text-align: center;
  border: none;
  background-color: #FFF;
  font-size: 18px;
  color: #1D1D1D;
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start;


}

.Footer .Footer-wrapper .wrapper1{
  margin-right: 0px;
}

.Footer .Footer-wrapper .footer-button-red{
  width: 120px;
  height: 30px;
  justify-content: flex-start;
  text-align: center;
  border: none;
  background-color: #0F4C81;
  font-size: 18px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;

}

/* (END) FOOTER */

/*
/*::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
/:::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
 RESPONSIVE */

@media all and (max-width:768px) {

  .body-text{
    font-family: 'Montserrat', sans-serif;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.7px;
    width: 80vw;
  }

  /* ACCROCHE I am a passionate designer + illustration */


  .about-screen-wrapper h4 {
    font-family: 'Montserrat'sans-serif;
    color: #1D1D1D;
    width: 400px;
    margin-right: 10vw;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 1pt;
    margin-bottom: 15px;

  }


  #table {
  	display: table;
  	width: 100%;
  	height: 100%;
  }

  #centeralign {
  	display: table-cell;
  	vertical-align: middle;
  }


  .typewrite{
    color: #1D1D1D;
    text-decoration: none;
  }

  .H1-Iam span{
    color: #C44E54;

  }

  .about-screen-wrapper {
    width: 100vw;
    height: 28vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top: 170px;
    margin-bottom: 100px;
  }


  .about-screen-wrapper .illustration-about .illustration-about-picture{
    width: 250px;
    margin-left: 10vw;
    margin-right: 70px;


  }

  /* (END) ACCROCHE I am a passionate designer + illustration */

  /* Soft skills */

  .text-left-wrapper{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 10vw;
    margin-right: 5vw;
    margin-bottom: 0px;
    font-family: 'Montserrat'sans-serif;
    font-size: 22px;
    font-weight: 700;

  }

  .text-left-wrapper .P-align-self{
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
  }


  .text-right-wrapper{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 5vw;
    margin-right: 10vw;
    margin-bottom: 0px;
    font-family: 'Montserrat'sans-serif;
    font-size: 22px;
    font-weight: 700;

  }

  .text-right-wrapper .P2-align-self{
    font-family: 'Montserrat', sans-serif;
    align-self: flex-end;
  }

  .softskills-wrapper .image-softskills img{
    width: 180px;
  }

  .softskills-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  .softskills-wrapper .text-left-wrapper .text-softskill{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .softskills-wrapper .text-right-wrapper .text-softskill{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* (END) Soft skills */

  /* Softwares */

  .software-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 100px;


  }

  .software-wrapper .image-software{
    weight: 100px;
    height: 100px;

  }

  /* (END) Softwares */

  /* Card-competences */

  .CARD-WRAPPER{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 50px;

  }

  .CARD-WRAPPER .Smallcard-competence{
    width: 30%;
    height: 200px;
    /*background-image:
      url("02_Images copie/patern2.jpeg");*/
    background-color: #F9F9F9;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(29, 29, 29, 0.303049);


  }

  .CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  .CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper .title-smallcard{
    font-family: 'Montserrat'sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #1D1D1D;
    text-align: center;

  }

  .CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper .body-smallcard{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 26px;
    color: #1D1D1D;


  }

  .CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper img{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;

  }



  .CARD-STUDIES{
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }

  /* FOOTER */
          .Footer {
            width: 100vw;
            height: 115px;
            padding-bottom: 40px;
            background-color: #0F4C81;
            position: static;
            z-index: 1;


          }

          .Footer .Footer-wrapper{
            margin-right: 5vw;
            margin-left: 5vw;
            margin-bottom: 0px;
            height: 100%;
            text-align: right;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            top: 0;
          }

          .Footer .Footer-wrapper .text-me{
            text-align: left;
            color: #FFF;
            font-family: 'Montserrat', sans-serif;
            line-height: 25px;
            margin-top: 0px;
            font-size: 13px;
          }

          .Footer .Footer-wrapper .text-me a{
            color: #FFF;
            font-size: 13px;
          }


          .Footer .Footer-wrapper .footer-button-back-red{
            width: 120px;
            height: 100px;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            border: none;
            background-color: #FFF;
            font-size: 13px;
            color: #1D1D1D;
            font-family: 'Montserrat', sans-serif;


          }

          .Footer .Footer-wrapper .footer-button{
            width: 120px;
            height: 30px;
            text-align: center;
            border: none;
            background-color: #FFF;
            font-size: 13px;
            color: #1D1D1D;
            font-family: 'Montserrat', sans-serif;
            align-self: flex-start;
            opacity: 0;


          }

          .Footer .Footer-wrapper .wrapper1{
            margin-right: 0px;
            margin-top: 40px;
            display: flex;
            flex-direction: column-reverse;

          }

          .Footer .Footer-wrapper .footer-button-red{
            width: 120px;
            height: 30px;
            justify-content: flex-start;
            text-align: center;
            border: none;
            background-color: #0F4C81;
            opacity: 0;
            font-size: 13px;
            color: #FFF;
            font-family: 'Montserrat', sans-serif;

          }

}

/*:::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
*/

@media all and (max-width:375px) {

  .body-text{
    font-family: 'Montserrat', sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.7px;
    width: 90vw;
  }

  h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    margin-top: 30px;
  }

  h1 span{
    font-weight: 400;
    font-size: 18px;

  }

  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 5vw;
    margin-top: 60px;
    margin-bottom: 50px;
    color: #1D1D1D;
    padding-bottom: 10px;

  }

  /* HEADER */


      .Header {
        width: 100vw;
        height: 60px;
        background-color: #FFF;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;


      }

      .Header .Header-wrapper{
        position: fixed;
        z-index: 2;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0px;
        left: 0;
      }

      .Header .Header-wrapper .header-right-wrapper{
        width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-right: 0px;
      }

      .Header .Header-wrapper .header-button-back-red{
        width: 25vw;
        height: 60px;
        padding: 0px;
        text-align: center;
        border: none;
        background-color: #0F4C81;
        font-size: 13px;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;

      }

      .Header .Header-wrapper .header-button{
        width: 25vw;
        height: 60px;
        margin-right: 0vw;
        text-align: center;
        border: none;
        background-color: #FFF;
        font-size: 13px;
        color: #1D1D1D;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;



      }


      .Header .Header-wrapper .header-button-red{
        width: 25vw;
        height: 60px;
        text-align: center;
        border: none;
        background-color: #FFF;
        font-size: 13px;
        color: #1D1D1D;
        font-family: 'Montserrat', sans-serif;

      }



  /* ACCROCHE I am a passionate designer + illustration */


  .about-screen-wrapper h4 {
    font-family: 'Montserrat'sans-serif;
    color: #1D1D1D;
    width: 400px;
    margin-right: 0px;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 1pt;
    margin-bottom: 15px;
    text-align: center;

  }



  #table {
  	display: table;
  	width: 100%;
  	height: 100%;
  }

  #centeralign {
  	display: table-cell;
  	vertical-align: middle;
  }


  .typewrite{
    color: #1D1D1D;
    text-decoration: none;
  }

  .H1-Iam span{
    color: #C44E54;

  }

  .about-screen-wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 0px;
  }


  .about-screen-wrapper .illustration-about .illustration-about-picture{
    width: 250px;
    margin-left: 10vw;
    margin-right: 70px;


  }

  /* (END) ACCROCHE I am a passionate designer + illustration */

  /* Soft skills */

  .text-left-wrapper{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 0px;
    font-family: 'Montserrat'sans-serif;
    font-size: 18px;
    font-weight: 700;

  }

  .text-left-wrapper .P-align-self{
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }


  .text-right-wrapper{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 0px;
    font-family: 'Montserrat'sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

  }

  .text-right-wrapper .P2-align-self{
    font-family: 'Montserrat', sans-serif;
    align-self: flex-end;
    text-align: center;
  }

  .softskills-wrapper .image-softskills img{
    width: 180px;
  }

  .softskills-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .softskills-wrapper .text-left-wrapper .text-softskill{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  .softskills-wrapper .text-right-wrapper .text-softskill{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 100px;
  }

  /* (END) Soft skills */

  /* Softwares */

  .software-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 0px;


  }

  .software-wrapper .image-software{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

  }

  /* (END) Softwares */

  /* Card-competences */

  h3#h3-competences{
    width: 110px;
    border-bottom: 4px solid #0F4C81;
    margin-bottom: 30px;
  }

  .CARD-WRAPPER{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0px;

  }

  .CARD-WRAPPER .Smallcard-competence{
    width: 90vw;
    height: 150px;
    /*background-image:
      url("02_Images copie/patern2.jpeg");*/
    background-color: #F9F9F9;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(29, 29, 29, 0.303049);
    margin-top: 20px;


  }

  .CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  .CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper .title-smallcard{
    font-family: 'Montserrat'sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #1D1D1D;
    text-align: center;

  }

  .CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper .body-smallcard{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 26px;
    color: #1D1D1D;


  }

  .CARD-WRAPPER .Smallcard-competence .text-smallcard-wrapper img{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 0;

  }



  /* Card Studies  */

  .CARD-STUDIES{
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .CARD-STUDIES .card-img-background{
    width: 90vw;
    height: 200px;
    background-color: #FFF;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .CARD-STUDIES .card-wrapper .card-img-background .image-background img{
    width: 25vw;
    padding-left: 25px;
    padding-right: 25px;

  }

  .CARD-STUDIES .card-wrapper{
    width: 90vw;
    height: 200px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 35px;
    box-shadow: 0px 2px 10px rgba(29, 29, 29, 0.303049);

  }

  .CARD-STUDIES .card-wrapper .image-text-wrapper{
    width: 55vw;

  }

  /*.CARD-STUDIES .card-wrapper .number-card{
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 900;
    color: #1D1D1D;
    opacity: 0.8;
    margin-top: 0px;
    width: 250px;

  }*/

  .CARD-STUDIES .card-wrapper .title-card {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 900;
    color: #1D1D1D;
    opacity: 1;
    width: 43vw;
    line-height: 30px;

  }

  .CARD-STUDIES .card-wrapper .body-card{
    width: 700px;
    text-align: left;
    width: 250px;
    margin-left: 8px;
    margin-top: -16px
  }

  .CARD-STUDIES .card-wrapper .body-text-card{
    font-family: 'Montserrat', sans-serif;
    margin-right: 100px;
    font-size: 13px;
    line-height: 28px;
    font-weight: 300;
    width: 43vw;
  }

  /* (END) Card Studie */

  /* FOOTER */
    .Footer {
      width: 100vw;
      height: 115px;
      padding-bottom: 40px;
      background-color: #0F4C81;
      position: static;
      z-index: 1;


    }

    .Footer .Footer-wrapper{
      margin-right: 5vw;
      margin-left: 5vw;
      margin-bottom: 0px;
      height: 100%;
      text-align: right;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      top: 0;
    }

    .Footer .Footer-wrapper .text-me{
      text-align: left;
      color: #FFF;
      font-family: 'Montserrat', sans-serif;
      line-height: 25px;
      margin-top: 0px;
      font-size: 13px;
    }

    .Footer .Footer-wrapper .text-me a{
      color: #FFF;
      font-size: 13px;
    }


    .Footer .Footer-wrapper .footer-button-back-red{
      width: 120px;
      height: 100px;
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
      border: none;
      background-color: #FFF;
      font-size: 13px;
      color: #1D1D1D;
      font-family: 'Montserrat', sans-serif;


    }

    .Footer .Footer-wrapper .footer-button{
      width: 120px;
      height: 30px;
      text-align: center;
      border: none;
      background-color: #FFF;
      font-size: 13px;
      color: #1D1D1D;
      font-family: 'Montserrat', sans-serif;
      align-self: flex-start;
      opacity: 0;


    }

    .Footer .Footer-wrapper .wrapper1{
      margin-right: 0px;
      margin-top: 73px;
      display: flex;
      flex-direction: column-reverse;

    }

    .Footer .Footer-wrapper .footer-button-red{
      width: 120px;
      height: 30px;
      justify-content: flex-start;
      text-align: center;
      border: none;
      background-color: #0F4C81;
      opacity: 0;
      font-size: 13px;
      color: #FFF;
      font-family: 'Montserrat', sans-serif;

    }
}
}
